<font color='green'> OK -  /var/log/news/news.crit : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.crit : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.crit : 0 info found </font><br />
<font color='green'> OK -  /var/log/news/news.err : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.notice : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.notice : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.notice : 0 info found </font><br />
<font color='green'> OK -  /var/log/mysql.err : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/dmesg : 1247 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dmesg : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/dmesg : 2 info found </font><br />
<font color='red'> KO -  /var/log/lastlog : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/lastlog : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/lastlog : 0 info found </font><br />
<font color='green'> OK -  /var/log/alternatives.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/alternatives.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/alternatives.log : 0 info found </font><br />
<font color='red'> KO -  /var/log/fontconfig.log : 7 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fontconfig.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fontconfig.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/mail.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/mail.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/mail.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/btmp : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/btmp : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/btmp : 0 info found </font><br />
<font color='red'> KO -  /var/log/upstart/rsyslog.log : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/upstart/rsyslog.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/upstart/rsyslog.log : 0 info found </font><br />
<font color='red'> KO -  /var/log/fsck/checkfs : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkfs : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkfs : 0 info found </font><br />
<font color='red'> KO -  /var/log/fsck/checkroot : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkroot : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkroot : 0 info found </font><br />
<font color='green'> OK -  /var/log/mail.err : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/ufw.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/ufw.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/ufw.log : 0 info found </font><br />
<font color='red'> KO -  /var/log/kern.log : 2 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/kern.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/kern.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/landscape/sysinfo.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/landscape/sysinfo.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/landscape/sysinfo.log : 0 info found </font><br />
<font color='red'> KO -  /var/log/udev : 10442 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/udev : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/udev : 0 info found </font><br />
<font color='red'> KO -  /var/log/faillog : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/faillog : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/faillog : 0 info found </font><br />
<font color='green'> OK -  /var/log/apt/history.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/history.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/history.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/apt/term.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/term.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/term.log : 0 info found </font><br />
<font color='red'> KO -  /var/log/boot : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot : 0 info found </font><br />
<font color='red'> KO -  /var/log/auth.log : 10497 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/auth.log : 1 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/auth.log : 3 info found </font><br />
<font color='red'> KO -  /var/log/dmesg.0 : 1232 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dmesg.0 : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/dmesg.0 : 2 info found </font><br />
<font color='red'> KO -  /var/log/installer/hardware-summary : 477 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/hardware-summary : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/hardware-summary : 82 info found </font><br />
<font color='red'> KO -  /var/log/installer/lsb-release : 4 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/lsb-release : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/lsb-release : 0 info found </font><br />
<font color='red'> KO -  /var/log/installer/status : 1754 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/status : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/status : 6 info found </font><br />
<font color='red'> KO -  /var/log/installer/partman : 13073 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/partman : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/partman : 390 info found </font><br />
<font color='red'> KO -  /var/log/installer/cdebconf/questions.dat : 4406 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/installer/cdebconf/questions.dat : 20 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/cdebconf/questions.dat : 61 info found </font><br />
<font color='red'> KO -  /var/log/installer/cdebconf/templates.dat : 87158 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/installer/cdebconf/templates.dat : 135 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/cdebconf/templates.dat : 750 info found </font><br />
<font color='red'> KO -  /var/log/installer/syslog : 4357 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/installer/syslog : 105 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/syslog : 126 info found </font><br />
<font color='red'> KO -  /var/log/installer/media-info : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/media-info : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/media-info : 0 info found </font><br />
<font color='red'> KO -  /var/log/boot.log : 71 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot.log : 0 info found </font><br />
<font color='red'> KO -  /var/log/syslog : 502 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/syslog : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/syslog : 8 info found </font><br />
<font color='green'> OK -  /var/log/mysql.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/mysql.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/mysql.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/dpkg.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dpkg.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dpkg.log : 0 info found </font><br />
<font color='red'> KO -  /var/log/wtmp : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/wtmp : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/wtmp : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/gquery/monitoring-accounts_valid_temporary/monitoring-accounts_valid_temporary.log : 203 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_valid_temporary/monitoring-accounts_valid_temporary.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/monitoring-accounts_valid_temporary/monitoring-accounts_valid_temporary.log : 94 info found </font><br />
<font color='red'> KO -  /data/var/log/gquery/monitoring-accounts_active/monitoring-accounts_active.log : 203 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_active/monitoring-accounts_active.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/monitoring-accounts_active/monitoring-accounts_active.log : 94 info found </font><br />
<font color='red'> KO -  /data/var/log/gquery/monitoring-accounts_closed/monitoring-accounts_closed.log : 205 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_closed/monitoring-accounts_closed.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/monitoring-accounts_closed/monitoring-accounts_closed.log : 96 info found </font><br />
<font color='red'> KO -  /data/var/log/gquery/monitoring-mysql_info_tables/monitoring-mysql_info_tables.log : 194 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-mysql_info_tables/monitoring-mysql_info_tables.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/monitoring-mysql_info_tables/monitoring-mysql_info_tables.log : 159 info found </font><br />
<font color='red'> KO -  /data/var/log/gquery/monitoring-membership_lbp_status_2/monitoring-membership_lbp_status_2.log : 203 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-membership_lbp_status_2/monitoring-membership_lbp_status_2.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/monitoring-membership_lbp_status_2/monitoring-membership_lbp_status_2.log : 94 info found </font><br />
<font color='red'> KO -  /data/var/log/gquery/monitoring-documents_dispath_ko/monitoring-documents_dispath_ko.log : 29126 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-documents_dispath_ko/monitoring-documents_dispath_ko.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/monitoring-documents_dispath_ko/monitoring-documents_dispath_ko.log : 13480 info found </font><br />
<font color='red'> KO -  /data/var/log/gquery/gquery-documents_dispath_ko/gquery-documents_dispath_ko.log : 120 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/gquery-documents_dispath_ko/gquery-documents_dispath_ko.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/gquery-documents_dispath_ko/gquery-documents_dispath_ko.log : 81 info found </font><br />
<font color='red'> KO -  /data/var/log/gquery/monitoring-accounts_closing/monitoring-accounts_closing.log : 203 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_closing/monitoring-accounts_closing.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/monitoring-accounts_closing/monitoring-accounts_closing.log : 94 info found </font><br />
<font color='red'> KO -  /data/var/log/gquery/monitoring-documents_dispatch_ok/monitoring-documents_dispatch_ok.log : 7566 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-documents_dispatch_ok/monitoring-documents_dispatch_ok.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/monitoring-documents_dispatch_ok/monitoring-documents_dispatch_ok.log : 3278 info found </font><br />
<font color='red'> KO -  /data/var/log/gquery/monitoring-accounts_created/monitoring-accounts_created.log : 203 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_created/monitoring-accounts_created.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/monitoring-accounts_created/monitoring-accounts_created.log : 94 info found </font><br />
<font color='red'> KO -  /data/var/log/gquery/monitoring-accounts_to_purge/monitoring-accounts_to_purge.log : 203 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_to_purge/monitoring-accounts_to_purge.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/monitoring-accounts_to_purge/monitoring-accounts_to_purge.log : 94 info found </font><br />
<font color='red'> KO -  /data/var/log/gquery/monitoring-membership_lbp_status_4/monitoring-membership_lbp_status_4.log : 203 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-membership_lbp_status_4/monitoring-membership_lbp_status_4.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/monitoring-membership_lbp_status_4/monitoring-membership_lbp_status_4.log : 94 info found </font><br />
<font color='red'> KO -  /data/var/log/gquery/monitoring-accounts_with_new_auth/monitoring-accounts_with_new_auth.log : 203 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_with_new_auth/monitoring-accounts_with_new_auth.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/monitoring-accounts_with_new_auth/monitoring-accounts_with_new_auth.log : 94 info found </font><br />
<font color='red'> KO -  /data/var/log/gquery/monitoring-documents_dispatch_ko/monitoring-documents_dispatch_ko.log : 7566 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-documents_dispatch_ko/monitoring-documents_dispatch_ko.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/monitoring-documents_dispatch_ko/monitoring-documents_dispatch_ko.log : 3278 info found </font><br />
<font color='red'> KO -  /data/var/log/gquery/monitoring-membership_lbp_status_6/monitoring-membership_lbp_status_6.log : 203 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-membership_lbp_status_6/monitoring-membership_lbp_status_6.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/monitoring-membership_lbp_status_6/monitoring-membership_lbp_status_6.log : 94 info found </font><br />
<font color='red'> KO -  /data/var/log/gquery/gquery-membership_lbp_status_3_notif0/gquery-membership_lbp_status_3_notif0.log : 20 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/gquery-membership_lbp_status_3_notif0/gquery-membership_lbp_status_3_notif0.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/gquery-membership_lbp_status_3_notif0/gquery-membership_lbp_status_3_notif0.log : 15 info found </font><br />
<font color='red'> KO -  /data/var/log/gquery/monitoring-documents_dispath_ok/monitoring-documents_dispath_ok.log : 29126 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-documents_dispath_ok/monitoring-documents_dispath_ok.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/monitoring-documents_dispath_ok/monitoring-documents_dispath_ok.log : 13480 info found </font><br />
<font color='red'> KO -  /data/var/log/gquery/monitoring-membership_lbp_status_3/monitoring-membership_lbp_status_3.log : 203 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-membership_lbp_status_3/monitoring-membership_lbp_status_3.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/monitoring-membership_lbp_status_3/monitoring-membership_lbp_status_3.log : 94 info found </font><br />
<font color='red'> KO -  /data/var/log/gquery/monitoring-accounts_contribution_lapostenet/monitoring-accounts_contribution_lapostenet.log : 203 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_contribution_lapostenet/monitoring-accounts_contribution_lapostenet.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/monitoring-accounts_contribution_lapostenet/monitoring-accounts_contribution_lapostenet.log : 94 info found </font><br />
<font color='red'> KO -  /data/var/log/gquery/monitoring-documents_by_sender/monitoring-documents_by_sender.log : 203 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-documents_by_sender/monitoring-documents_by_sender.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/monitoring-documents_by_sender/monitoring-documents_by_sender.log : 94 info found </font><br />
<font color='red'> KO -  /data/var/log/gquery/monitoring-documents_by_user/monitoring-documents_by_user.log : 203 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-documents_by_user/monitoring-documents_by_user.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/monitoring-documents_by_user/monitoring-documents_by_user.log : 94 info found </font><br />
<font color='red'> KO -  /data/var/log/gquery/monitoring-documents_by_size/monitoring-documents_by_size.log : 205 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-documents_by_size/monitoring-documents_by_size.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/monitoring-documents_by_size/monitoring-documents_by_size.log : 96 info found </font><br />
<font color='red'> KO -  /data/var/log/gquery/gquery-documents_dispath_ok/gquery-documents_dispath_ok.log : 120 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/gquery-documents_dispath_ok/gquery-documents_dispath_ok.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/gquery-documents_dispath_ok/gquery-documents_dispath_ok.log : 81 info found </font><br />
<font color='red'> KO -  /data/var/log/gquery/monitoring-membership_lbp_status_3_notif0/monitoring-membership_lbp_status_3_notif0.log : 4850 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-membership_lbp_status_3_notif0/monitoring-membership_lbp_status_3_notif0.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/monitoring-membership_lbp_status_3_notif0/monitoring-membership_lbp_status_3_notif0.log : 2239 info found </font><br />
<font color='red'> KO -  /data/var/log/gquery/monitoring-membership_lbp_status_7/monitoring-membership_lbp_status_7.log : 203 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-membership_lbp_status_7/monitoring-membership_lbp_status_7.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/monitoring-membership_lbp_status_7/monitoring-membership_lbp_status_7.log : 94 info found </font><br />
<font color='red'> KO -  /data/var/log/gquery/monitoring-membership_lbp_status_5/monitoring-membership_lbp_status_5.log : 203 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-membership_lbp_status_5/monitoring-membership_lbp_status_5.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/monitoring-membership_lbp_status_5/monitoring-membership_lbp_status_5.log : 94 info found </font><br />
<font color='red'> KO -  /data/var/log/collectd/collectd.log : 8086 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/collectd/collectd.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/collectd/collectd.log : 8086 info found </font><br />
<font color='green'> OK -  /data/var/log/elasticsearch/elasticsearch_index_search_slowlog.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/elasticsearch/elasticsearch_index_search_slowlog.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/elasticsearch/elasticsearch_index_search_slowlog.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/elasticsearch/elasticsearch.log : 1 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/elasticsearch/elasticsearch.log : 1 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/elasticsearch/elasticsearch.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/mongo/mongod.log : 15606 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/mongo/mongod.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/mongo/mongod.log : 57 info found </font><br />
<font color='red'> KO -  /data/var/log/tomcat-solr/solr.log : 1531876 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/tomcat-solr/solr.log : 1 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/tomcat-solr/solr.log : 589705 info found </font><br />
<font color='red'> KO -  /data/var/log/tomcat-solr/solr.log : 1531876  lines found : expected less than 300000 </font><br />
<font color='green'> OK -  /data/var/log/tomcat-solr/catalina.out : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/tomcat-solr/catalina.out : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/tomcat-solr/catalina.out : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/mysql/mysql-slow.log : 167444 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/mysql/mysql-slow.log : 1084 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/mysql/mysql-slow.log : 2722 info found </font><br />
<font color='red'> KO -  /data/var/log/mysql/mysql.error.log : 15227 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/jmxtrans/jmxtrans.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/jmxtrans/jmxtrans.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/jmxtrans/jmxtrans.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/gsolr/monitoring-solr/gsolr-solr.log : 42597 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/gsolr/monitoring-solr/gsolr-solr.log : 20 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gsolr/monitoring-solr/gsolr-solr.log : 12927 info found </font><br />
<font color='red'> KO -  /data/var/log/logstash/agent/logstash.log : 310875 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/logstash/agent/logstash.log : 63 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/logstash/agent/logstash.log : 310458 info found </font><br />
<font color='red'> KO -  /data/var/log/logstash/agent/logstash.log : 310875  lines found : expected less than 300000 </font><br />
