<font color='green'> OK -  /var/log/news/news.crit : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.crit : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.crit : 0 info found </font><br />
<font color='green'> OK -  /var/log/news/news.err : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.notice : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.notice : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.notice : 0 info found </font><br />
<font color='green'> OK -  /var/log/apache2/error.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/other_vhosts_access.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/other_vhosts_access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/other_vhosts_access.log : 0 info found </font><br />
<font color='red'> KO -  /var/log/apache2/access.log : 29605 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/access.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/dmesg : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dmesg : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dmesg : 0 info found </font><br />
<font color='red'> KO -  /var/log/lastlog : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/lastlog : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/lastlog : 0 info found </font><br />
<font color='green'> OK -  /var/log/alternatives.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/alternatives.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/alternatives.log : 0 info found </font><br />
<font color='red'> KO -  /var/log/fontconfig.log : 7 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fontconfig.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fontconfig.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/mail.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/mail.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/mail.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/btmp : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/btmp : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/btmp : 0 info found </font><br />
<font color='green'> OK -  /var/log/upstart/rsyslog.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/upstart/rsyslog.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/upstart/rsyslog.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/fsck/checkfs : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkfs : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkfs : 0 info found </font><br />
<font color='green'> OK -  /var/log/fsck/checkroot : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkroot : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkroot : 0 info found </font><br />
<font color='green'> OK -  /var/log/mail.err : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/ufw.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/ufw.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/ufw.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/kern.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/kern.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/kern.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/landscape/sysinfo.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/landscape/sysinfo.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/landscape/sysinfo.log : 0 info found </font><br />
<font color='red'> KO -  /var/log/udev : 10318 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/udev : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/udev : 0 info found </font><br />
<font color='red'> KO -  /var/log/faillog : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/faillog : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/faillog : 0 info found </font><br />
<font color='red'> KO -  /var/log/apt/history.log : 5 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/history.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/history.log : 0 info found </font><br />
<font color='red'> KO -  /var/log/apt/term.log : 3 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/term.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/term.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/boot : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot : 0 info found </font><br />
<font color='green'> OK -  /var/log/auth.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/auth.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/auth.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/dmesg.0 : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dmesg.0 : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dmesg.0 : 0 info found </font><br />
<font color='red'> KO -  /var/log/installer/hardware-summary : 477 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/hardware-summary : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/hardware-summary : 82 info found </font><br />
<font color='red'> KO -  /var/log/installer/lsb-release : 4 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/lsb-release : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/lsb-release : 0 info found </font><br />
<font color='red'> KO -  /var/log/installer/status : 1754 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/status : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/status : 6 info found </font><br />
<font color='green'> OK -  /var/log/installer/partman : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/partman : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/partman : 0 info found </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/questions.dat : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/questions.dat : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/questions.dat : 0 info found </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/templates.dat : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/templates.dat : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/templates.dat : 0 info found </font><br />
<font color='green'> OK -  /var/log/installer/syslog : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/syslog : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/syslog : 0 info found </font><br />
<font color='red'> KO -  /var/log/installer/media-info : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/media-info : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/media-info : 0 info found </font><br />
<font color='red'> KO -  /var/log/boot.log : 49 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/syslog : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/syslog : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/syslog : 0 info found </font><br />
<font color='red'> KO -  /var/log/dpkg.log : 263 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dpkg.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dpkg.log : 0 info found </font><br />
<font color='red'> KO -  /var/log/wtmp : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/wtmp : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/wtmp : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/collectd/collectd.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/collectd/collectd.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/collectd/collectd.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/jmxtrans/jmxtrans.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/jmxtrans/jmxtrans.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/jmxtrans/jmxtrans.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/logstash/agent/logstash.log : 5 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/logstash/agent/logstash.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/logstash/agent/logstash.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/graylog2/graylog2.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/graylog2/graylog2.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/graylog2/graylog2.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/apache2/other_vhosts_access.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/other_vhosts_access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/other_vhosts_access.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/apache2/graylog2-access.log : 1098 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/graylog2-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/graylog2-access.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/apache2/error_puppetmaster.log : 2 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/graylog2-error.log : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/apache2/error.log : 1175 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/apache2/access_puppetmaster.log : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/access_puppetmaster.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/access_puppetmaster.log : 0 info found </font><br />
