<font color='green'> OK -  /var/log/news/news.crit : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.crit : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.crit : 0 info found </font><br />
<font color='green'> OK -  /var/log/news/news.err : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.notice : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.notice : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.notice : 0 info found </font><br />
<font color='red'> KO -  /var/log/apache2/error.log : 17 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/other_vhosts_access.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/other_vhosts_access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/other_vhosts_access.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/apache2/access.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/access.log : 0 info found </font><br />
<font color='red'> KO -  /var/log/apache2/mod_jk.log : 656 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/apache2/mod_jk.log : 554 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/apache2/mod_jk.log : 78 info found </font><br />
<font color='green'> OK -  /var/log/dmesg : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dmesg : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dmesg : 0 info found </font><br />
<font color='red'> KO -  /var/log/lastlog : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/lastlog : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/lastlog : 0 info found </font><br />
<font color='green'> OK -  /var/log/alternatives.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/alternatives.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/alternatives.log : 0 info found </font><br />
<font color='red'> KO -  /var/log/fontconfig.log : 7 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fontconfig.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fontconfig.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/mail.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/mail.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/mail.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/btmp : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/btmp : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/btmp : 0 info found </font><br />
<font color='green'> OK -  /var/log/upstart/rsyslog.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/upstart/rsyslog.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/upstart/rsyslog.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/fsck/checkfs : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkfs : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkfs : 0 info found </font><br />
<font color='green'> OK -  /var/log/fsck/checkroot : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkroot : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkroot : 0 info found </font><br />
<font color='green'> OK -  /var/log/statsd-stderr.log : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/newrelic/nrsysmond.log : 2 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/newrelic/nrsysmond.log : 1 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/newrelic/nrsysmond.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/newrelic/newrelic-daemon.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/newrelic/newrelic-daemon.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/newrelic/newrelic-daemon.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/newrelic/php_agent.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/newrelic/php_agent.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/newrelic/php_agent.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/mail.err : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/php5-fpm.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/php5-fpm.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/php5-fpm.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/ufw.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/ufw.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/ufw.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/kern.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/kern.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/kern.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/landscape/sysinfo.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/landscape/sysinfo.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/landscape/sysinfo.log : 0 info found </font><br />
<font color='red'> KO -  /var/log/udev : 10462 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/udev : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/udev : 0 info found </font><br />
<font color='red'> KO -  /var/log/faillog : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/faillog : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/faillog : 0 info found </font><br />
<font color='green'> OK -  /var/log/apt/history.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/history.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/history.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/apt/term.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/term.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/term.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/boot : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot : 0 info found </font><br />
<font color='green'> OK -  /var/log/auth.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/auth.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/auth.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/dmesg.0 : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dmesg.0 : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dmesg.0 : 0 info found </font><br />
<font color='red'> KO -  /var/log/installer/hardware-summary : 477 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/hardware-summary : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/hardware-summary : 82 info found </font><br />
<font color='red'> KO -  /var/log/installer/lsb-release : 4 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/lsb-release : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/lsb-release : 0 info found </font><br />
<font color='red'> KO -  /var/log/installer/status : 1754 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/status : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/status : 6 info found </font><br />
<font color='green'> OK -  /var/log/installer/partman : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/partman : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/partman : 0 info found </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/questions.dat : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/questions.dat : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/questions.dat : 0 info found </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/templates.dat : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/templates.dat : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/templates.dat : 0 info found </font><br />
<font color='green'> OK -  /var/log/installer/syslog : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/syslog : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/syslog : 0 info found </font><br />
<font color='red'> KO -  /var/log/installer/media-info : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/media-info : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/media-info : 0 info found </font><br />
<font color='red'> KO -  /var/log/boot.log : 33 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/syslog : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/syslog : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/syslog : 0 info found </font><br />
<font color='green'> OK -  /var/log/dpkg.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dpkg.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dpkg.log : 0 info found </font><br />
<font color='red'> KO -  /var/log/wtmp : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/wtmp : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/wtmp : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/tomcat-digiposte-java-api/catalina.out : 2 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/tomcat-digiposte-java-api/catalina.out : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/tomcat-digiposte-java-api/catalina.out : 1 info found </font><br />
<font color='red'> KO -  /data/var/log/tomcat-digiposte-java-api/digiposte-java-api.log : 1138 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/tomcat-digiposte-java-api/digiposte-java-api.log : 4 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/tomcat-digiposte-java-api/digiposte-java-api.log : 46 info found </font><br />
<font color='red'> KO -  /data/var/log/symfony/sender.log : 208129 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/symfony/sender.log : 507 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/symfony/sender.log : 1238 info found </font><br />
<font color='red'> KO -  /data/var/log/symfony/individual.log : 93754 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/symfony/individual.log : 2362 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/symfony/individual.log : 21355 info found </font><br />
<font color='red'> KO -  /data/var/log/symfony/api.log : 511122 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/symfony/api.log : 1 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/symfony/api.log : 30472 info found </font><br />
<font color='red'> KO -  /data/var/log/symfony/api.log : 511123  lines found : expected less than 300000 </font><br />
<font color='red'> KO -  /data/var/log/symfony/php_errors.log : 357 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/symfony/backend.log : 10 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/symfony/backend.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/symfony/backend.log : 10 info found </font><br />
<font color='red'> KO -  /data/var/log/symfony/wsproxy.log : 548 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/symfony/wsproxy.log : 21 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/symfony/wsproxy.log : 230 info found </font><br />
<font color='green'> OK -  /data/var/log/jmxtrans/jmxtrans.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/jmxtrans/jmxtrans.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/jmxtrans/jmxtrans.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/apache2/api-error.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/adherer-error.log : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/apache2/emetteur-access.log : 393 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/emetteur-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/emetteur-access.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/apache2/secure-error.log : 7 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/apache2/secure-access.log : 8748 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/secure-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/secure-access.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/apache2/api-access.log : 211 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/api-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/api-access.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/apache2/emetteur-error.log : 4 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/apache2/api-php-error.log : 1025 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/ws-error.log : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/apache2/api-php-access.log : 7196 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/api-php-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/api-php-access.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/apache2/adherer-access.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/adherer-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/adherer-access.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/apache2/ws-access.log : 27 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/ws-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/ws-access.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/newrelic/php_agent.log : 28768706 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/newrelic/php_agent.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/newrelic/php_agent.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/newrelic/php_agent.log : 28768706  lines found : expected less than 300000 </font><br />
<font color='red'> KO -  /data/var/log/newrelic/newrelic-daemon.log : 271 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/newrelic/newrelic-daemon.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/newrelic/newrelic-daemon.log : 77 info found </font><br />
<font color='red'> KO -  /data/var/log/collectd/collectd.log : 7 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/collectd/collectd.log : 3 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/collectd/collectd.log : 1 info found </font><br />
<font color='red'> KO -  /data/var/log/logstash/agent/logstash.log : 16898 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/logstash/agent/logstash.log : 1128 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/logstash/agent/logstash.log : 244 info found </font><br />
<font color='green'> OK -  /var/log/news/news.crit : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.crit : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.crit : 0 info found </font><br />
<font color='green'> OK -  /var/log/news/news.err : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.notice : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.notice : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.notice : 0 info found </font><br />
<font color='red'> KO -  /var/log/apache2/error.log : 17 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/other_vhosts_access.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/other_vhosts_access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/other_vhosts_access.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/apache2/access.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/access.log : 0 info found </font><br />
<font color='red'> KO -  /var/log/apache2/mod_jk.log : 656 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/apache2/mod_jk.log : 554 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/apache2/mod_jk.log : 78 info found </font><br />
<font color='green'> OK -  /var/log/dmesg : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dmesg : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dmesg : 0 info found </font><br />
<font color='red'> KO -  /var/log/lastlog : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/lastlog : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/lastlog : 0 info found </font><br />
<font color='green'> OK -  /var/log/alternatives.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/alternatives.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/alternatives.log : 0 info found </font><br />
<font color='red'> KO -  /var/log/fontconfig.log : 7 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fontconfig.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fontconfig.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/mail.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/mail.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/mail.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/btmp : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/btmp : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/btmp : 0 info found </font><br />
<font color='green'> OK -  /var/log/upstart/rsyslog.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/upstart/rsyslog.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/upstart/rsyslog.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/fsck/checkfs : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkfs : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkfs : 0 info found </font><br />
<font color='green'> OK -  /var/log/fsck/checkroot : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkroot : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkroot : 0 info found </font><br />
<font color='green'> OK -  /var/log/statsd-stderr.log : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/newrelic/nrsysmond.log : 2 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/newrelic/nrsysmond.log : 1 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/newrelic/nrsysmond.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/newrelic/newrelic-daemon.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/newrelic/newrelic-daemon.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/newrelic/newrelic-daemon.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/newrelic/php_agent.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/newrelic/php_agent.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/newrelic/php_agent.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/mail.err : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/php5-fpm.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/php5-fpm.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/php5-fpm.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/ufw.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/ufw.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/ufw.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/kern.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/kern.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/kern.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/landscape/sysinfo.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/landscape/sysinfo.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/landscape/sysinfo.log : 0 info found </font><br />
<font color='red'> KO -  /var/log/udev : 10462 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/udev : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/udev : 0 info found </font><br />
<font color='red'> KO -  /var/log/faillog : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/faillog : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/faillog : 0 info found </font><br />
<font color='green'> OK -  /var/log/apt/history.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/history.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/history.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/apt/term.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/term.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/term.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/boot : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot : 0 info found </font><br />
<font color='green'> OK -  /var/log/auth.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/auth.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/auth.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/dmesg.0 : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dmesg.0 : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dmesg.0 : 0 info found </font><br />
<font color='red'> KO -  /var/log/installer/hardware-summary : 477 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/hardware-summary : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/hardware-summary : 82 info found </font><br />
<font color='red'> KO -  /var/log/installer/lsb-release : 4 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/lsb-release : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/lsb-release : 0 info found </font><br />
<font color='red'> KO -  /var/log/installer/status : 1754 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/status : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/status : 6 info found </font><br />
<font color='green'> OK -  /var/log/installer/partman : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/partman : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/partman : 0 info found </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/questions.dat : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/questions.dat : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/questions.dat : 0 info found </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/templates.dat : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/templates.dat : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/templates.dat : 0 info found </font><br />
<font color='green'> OK -  /var/log/installer/syslog : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/syslog : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/syslog : 0 info found </font><br />
<font color='red'> KO -  /var/log/installer/media-info : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/media-info : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/media-info : 0 info found </font><br />
<font color='red'> KO -  /var/log/boot.log : 33 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/syslog : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/syslog : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/syslog : 0 info found </font><br />
<font color='green'> OK -  /var/log/dpkg.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dpkg.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dpkg.log : 0 info found </font><br />
<font color='red'> KO -  /var/log/wtmp : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/wtmp : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/wtmp : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/tomcat-digiposte-java-api/catalina.out : 2 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/tomcat-digiposte-java-api/catalina.out : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/tomcat-digiposte-java-api/catalina.out : 1 info found </font><br />
<font color='red'> KO -  /data/var/log/tomcat-digiposte-java-api/digiposte-java-api.log : 1138 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/tomcat-digiposte-java-api/digiposte-java-api.log : 4 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/tomcat-digiposte-java-api/digiposte-java-api.log : 46 info found </font><br />
<font color='red'> KO -  /data/var/log/symfony/sender.log : 208129 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/symfony/sender.log : 507 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/symfony/sender.log : 1238 info found </font><br />
<font color='red'> KO -  /data/var/log/symfony/individual.log : 93754 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/symfony/individual.log : 2362 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/symfony/individual.log : 21355 info found </font><br />
<font color='red'> KO -  /data/var/log/symfony/api.log : 511135 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/symfony/api.log : 1 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/symfony/api.log : 30472 info found </font><br />
<font color='red'> KO -  /data/var/log/symfony/api.log : 511136  lines found : expected less than 300000 </font><br />
<font color='red'> KO -  /data/var/log/symfony/php_errors.log : 357 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/symfony/backend.log : 10 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/symfony/backend.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/symfony/backend.log : 10 info found </font><br />
<font color='red'> KO -  /data/var/log/symfony/wsproxy.log : 548 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/symfony/wsproxy.log : 21 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/symfony/wsproxy.log : 230 info found </font><br />
<font color='green'> OK -  /data/var/log/jmxtrans/jmxtrans.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/jmxtrans/jmxtrans.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/jmxtrans/jmxtrans.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/apache2/api-error.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/adherer-error.log : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/apache2/emetteur-access.log : 393 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/emetteur-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/emetteur-access.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/apache2/secure-error.log : 7 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/apache2/secure-access.log : 8802 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/secure-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/secure-access.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/apache2/api-access.log : 211 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/api-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/api-access.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/apache2/emetteur-error.log : 4 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/apache2/api-php-error.log : 1025 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/ws-error.log : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/apache2/api-php-access.log : 7214 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/api-php-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/api-php-access.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/apache2/adherer-access.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/adherer-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/adherer-access.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/apache2/ws-access.log : 27 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/ws-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/ws-access.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/newrelic/php_agent.log : 28768706 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/newrelic/php_agent.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/newrelic/php_agent.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/newrelic/php_agent.log : 28768706  lines found : expected less than 300000 </font><br />
<font color='red'> KO -  /data/var/log/newrelic/newrelic-daemon.log : 271 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/newrelic/newrelic-daemon.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/newrelic/newrelic-daemon.log : 77 info found </font><br />
<font color='red'> KO -  /data/var/log/collectd/collectd.log : 7 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/collectd/collectd.log : 3 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/collectd/collectd.log : 1 info found </font><br />
<font color='red'> KO -  /data/var/log/logstash/agent/logstash.log : 16999 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/logstash/agent/logstash.log : 1128 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/logstash/agent/logstash.log : 244 info found </font><br />
<font color='green'> OK -  /var/log/news/news.crit : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.crit : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.crit : 0 info found </font><br />
<font color='green'> OK -  /var/log/news/news.err : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.notice : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.notice : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.notice : 0 info found </font><br />
<font color='red'> KO -  /var/log/apache2/error.log : 17 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/other_vhosts_access.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/other_vhosts_access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/other_vhosts_access.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/apache2/access.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/access.log : 0 info found </font><br />
<font color='red'> KO -  /var/log/apache2/mod_jk.log : 656 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/apache2/mod_jk.log : 554 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/apache2/mod_jk.log : 78 info found </font><br />
<font color='green'> OK -  /var/log/dmesg : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dmesg : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dmesg : 0 info found </font><br />
<font color='red'> KO -  /var/log/lastlog : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/lastlog : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/lastlog : 0 info found </font><br />
<font color='green'> OK -  /var/log/alternatives.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/alternatives.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/alternatives.log : 0 info found </font><br />
<font color='red'> KO -  /var/log/fontconfig.log : 7 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fontconfig.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fontconfig.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/mail.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/mail.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/mail.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/btmp : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/btmp : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/btmp : 0 info found </font><br />
<font color='green'> OK -  /var/log/upstart/rsyslog.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/upstart/rsyslog.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/upstart/rsyslog.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/fsck/checkfs : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkfs : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkfs : 0 info found </font><br />
<font color='green'> OK -  /var/log/fsck/checkroot : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkroot : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkroot : 0 info found </font><br />
<font color='green'> OK -  /var/log/statsd-stderr.log : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/newrelic/nrsysmond.log : 2 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/newrelic/nrsysmond.log : 1 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/newrelic/nrsysmond.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/newrelic/newrelic-daemon.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/newrelic/newrelic-daemon.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/newrelic/newrelic-daemon.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/newrelic/php_agent.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/newrelic/php_agent.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/newrelic/php_agent.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/mail.err : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/php5-fpm.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/php5-fpm.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/php5-fpm.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/ufw.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/ufw.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/ufw.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/kern.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/kern.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/kern.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/landscape/sysinfo.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/landscape/sysinfo.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/landscape/sysinfo.log : 0 info found </font><br />
<font color='red'> KO -  /var/log/udev : 10462 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/udev : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/udev : 0 info found </font><br />
<font color='red'> KO -  /var/log/faillog : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/faillog : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/faillog : 0 info found </font><br />
<font color='green'> OK -  /var/log/apt/history.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/history.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/history.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/apt/term.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/term.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/term.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/boot : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot : 0 info found </font><br />
<font color='green'> OK -  /var/log/auth.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/auth.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/auth.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/dmesg.0 : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dmesg.0 : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dmesg.0 : 0 info found </font><br />
<font color='red'> KO -  /var/log/installer/hardware-summary : 477 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/hardware-summary : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/hardware-summary : 82 info found </font><br />
<font color='red'> KO -  /var/log/installer/lsb-release : 4 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/lsb-release : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/lsb-release : 0 info found </font><br />
<font color='red'> KO -  /var/log/installer/status : 1754 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/status : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/status : 6 info found </font><br />
<font color='green'> OK -  /var/log/installer/partman : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/partman : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/partman : 0 info found </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/questions.dat : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/questions.dat : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/questions.dat : 0 info found </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/templates.dat : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/templates.dat : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/templates.dat : 0 info found </font><br />
<font color='green'> OK -  /var/log/installer/syslog : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/syslog : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/syslog : 0 info found </font><br />
<font color='red'> KO -  /var/log/installer/media-info : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/media-info : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/media-info : 0 info found </font><br />
<font color='red'> KO -  /var/log/boot.log : 33 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/syslog : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/syslog : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/syslog : 0 info found </font><br />
<font color='green'> OK -  /var/log/dpkg.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dpkg.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dpkg.log : 0 info found </font><br />
<font color='red'> KO -  /var/log/wtmp : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/wtmp : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/wtmp : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/tomcat-digiposte-java-api/catalina.out : 2 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/tomcat-digiposte-java-api/catalina.out : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/tomcat-digiposte-java-api/catalina.out : 1 info found </font><br />
<font color='red'> KO -  /data/var/log/tomcat-digiposte-java-api/digiposte-java-api.log : 1138 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/tomcat-digiposte-java-api/digiposte-java-api.log : 4 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/tomcat-digiposte-java-api/digiposte-java-api.log : 46 info found </font><br />
<font color='red'> KO -  /data/var/log/symfony/sender.log : 208129 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/symfony/sender.log : 507 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/symfony/sender.log : 1238 info found </font><br />
<font color='red'> KO -  /data/var/log/symfony/individual.log : 93754 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/symfony/individual.log : 2362 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/symfony/individual.log : 21355 info found </font><br />
<font color='red'> KO -  /data/var/log/symfony/api.log : 511147 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/symfony/api.log : 1 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/symfony/api.log : 30472 info found </font><br />
<font color='red'> KO -  /data/var/log/symfony/api.log : 511148  lines found : expected less than 300000 </font><br />
<font color='red'> KO -  /data/var/log/symfony/php_errors.log : 357 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/symfony/backend.log : 10 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/symfony/backend.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/symfony/backend.log : 10 info found </font><br />
<font color='red'> KO -  /data/var/log/symfony/wsproxy.log : 548 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/symfony/wsproxy.log : 21 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/symfony/wsproxy.log : 230 info found </font><br />
<font color='green'> OK -  /data/var/log/jmxtrans/jmxtrans.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/jmxtrans/jmxtrans.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/jmxtrans/jmxtrans.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/apache2/api-error.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/adherer-error.log : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/apache2/emetteur-access.log : 393 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/emetteur-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/emetteur-access.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/apache2/secure-error.log : 7 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/apache2/secure-access.log : 8841 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/secure-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/secure-access.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/apache2/api-access.log : 211 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/api-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/api-access.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/apache2/emetteur-error.log : 4 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/apache2/api-php-error.log : 1025 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/ws-error.log : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/apache2/api-php-access.log : 7230 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/api-php-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/api-php-access.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/apache2/adherer-access.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/adherer-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/adherer-access.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/apache2/ws-access.log : 27 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/ws-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/ws-access.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/newrelic/php_agent.log : 28768706 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/newrelic/php_agent.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/newrelic/php_agent.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/newrelic/php_agent.log : 28768706  lines found : expected less than 300000 </font><br />
<font color='red'> KO -  /data/var/log/newrelic/newrelic-daemon.log : 271 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/newrelic/newrelic-daemon.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/newrelic/newrelic-daemon.log : 77 info found </font><br />
<font color='red'> KO -  /data/var/log/collectd/collectd.log : 7 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/collectd/collectd.log : 3 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/collectd/collectd.log : 1 info found </font><br />
<font color='red'> KO -  /data/var/log/logstash/agent/logstash.log : 17079 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/logstash/agent/logstash.log : 1128 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/logstash/agent/logstash.log : 244 info found </font><br />
