<font color='green'> OK -  /var/log/news/news.crit : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.crit : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.crit : 0 info found </font><br />
<font color='green'> OK -  /var/log/news/news.err : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.notice : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.notice : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.notice : 0 info found </font><br />
<font color='red'> KO -  /var/log/apache2/error.log : 15 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/other_vhosts_access.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/other_vhosts_access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/other_vhosts_access.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/apache2/access.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/access.log : 0 info found </font><br />
<font color='red'> KO -  /var/log/apache2/mod_jk.log : 30 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/mod_jk.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/apache2/mod_jk.log : 10 info found </font><br />
<font color='green'> OK -  /var/log/dmesg : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dmesg : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dmesg : 0 info found </font><br />
<font color='red'> KO -  /var/log/lastlog : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/lastlog : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/lastlog : 0 info found </font><br />
<font color='green'> OK -  /var/log/alternatives.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/alternatives.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/alternatives.log : 0 info found </font><br />
<font color='red'> KO -  /var/log/fontconfig.log : 7 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fontconfig.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fontconfig.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/mail.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/mail.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/mail.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/btmp : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/btmp : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/btmp : 0 info found </font><br />
<font color='green'> OK -  /var/log/upstart/rsyslog.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/upstart/rsyslog.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/upstart/rsyslog.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/fsck/checkfs : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkfs : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkfs : 0 info found </font><br />
<font color='green'> OK -  /var/log/fsck/checkroot : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkroot : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkroot : 0 info found </font><br />
<font color='green'> OK -  /var/log/statsd-stderr.log : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/newrelic/nrsysmond.log : 3 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/newrelic/nrsysmond.log : 2 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/newrelic/nrsysmond.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/newrelic/newrelic-daemon.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/newrelic/newrelic-daemon.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/newrelic/newrelic-daemon.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/newrelic/php_agent.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/newrelic/php_agent.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/newrelic/php_agent.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/mail.err : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/php5-fpm.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/php5-fpm.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/php5-fpm.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/ufw.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/ufw.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/ufw.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/kern.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/kern.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/kern.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/landscape/sysinfo.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/landscape/sysinfo.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/landscape/sysinfo.log : 0 info found </font><br />
<font color='red'> KO -  /var/log/udev : 10305 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/udev : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/udev : 0 info found </font><br />
<font color='red'> KO -  /var/log/faillog : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/faillog : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/faillog : 0 info found </font><br />
<font color='green'> OK -  /var/log/apt/history.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/history.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/history.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/apt/term.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/term.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/term.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/boot : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot : 0 info found </font><br />
<font color='green'> OK -  /var/log/auth.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/auth.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/auth.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/apport.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apport.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apport.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/dmesg.0 : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dmesg.0 : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dmesg.0 : 0 info found </font><br />
<font color='red'> KO -  /var/log/installer/hardware-summary : 477 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/hardware-summary : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/hardware-summary : 82 info found </font><br />
<font color='red'> KO -  /var/log/installer/lsb-release : 4 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/lsb-release : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/lsb-release : 0 info found </font><br />
<font color='red'> KO -  /var/log/installer/status : 1754 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/status : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/status : 6 info found </font><br />
<font color='green'> OK -  /var/log/installer/partman : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/partman : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/partman : 0 info found </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/questions.dat : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/questions.dat : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/questions.dat : 0 info found </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/templates.dat : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/templates.dat : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/cdebconf/templates.dat : 0 info found </font><br />
<font color='green'> OK -  /var/log/installer/syslog : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/syslog : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/syslog : 0 info found </font><br />
<font color='red'> KO -  /var/log/installer/media-info : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/media-info : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/media-info : 0 info found </font><br />
<font color='red'> KO -  /var/log/boot.log : 33 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/syslog : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/syslog : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/syslog : 0 info found </font><br />
<font color='green'> OK -  /var/log/dpkg.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dpkg.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dpkg.log : 0 info found </font><br />
<font color='red'> KO -  /var/log/wtmp : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/wtmp : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/wtmp : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/apache2/api-php-error.log : 401 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/apache2/graphite-access.log : 4270 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/graphite-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/apache2/graphite-access.log : 5 info found </font><br />
<font color='red'> KO -  /data/var/log/apache2/api-php-access.log : 21819 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/api-php-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/api-php-access.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/apache2/admin-error.log : 65936 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/apache2/admin-access.log : 65798 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/admin-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/admin-access.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/apache2/graphite-error.log : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/batch-mobile-worker/batch-mobile-worker.log : 1010 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/batch-mobile-worker/batch-mobile-worker.log : 1010 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/batch-mobile-worker/batch-mobile-worker.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/gimap/monitoring-imap_mail2digiposte_failed/monitoring-imap_mail2digiposte_failed.log : 99 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gimap/monitoring-imap_mail2digiposte_failed/monitoring-imap_mail2digiposte_failed.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gimap/monitoring-imap_mail2digiposte_failed/monitoring-imap_mail2digiposte_failed.log : 66 info found </font><br />
<font color='red'> KO -  /data/var/log/gimap/monitoring-imap_spam/monitoring-imap_spam.log : 99 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gimap/monitoring-imap_spam/monitoring-imap_spam.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gimap/monitoring-imap_spam/monitoring-imap_spam.log : 66 info found </font><br />
<font color='red'> KO -  /data/var/log/gimap/monitoring-imap_mail2digiposte/monitoring-imap_mail2digiposte.log : 99 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gimap/monitoring-imap_mail2digiposte/monitoring-imap_mail2digiposte.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gimap/monitoring-imap_mail2digiposte/monitoring-imap_mail2digiposte.log : 66 info found </font><br />
<font color='red'> KO -  /data/var/log/gimap/monitoring-imap_failed/monitoring-imap_failed.log : 99 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gimap/monitoring-imap_failed/monitoring-imap_failed.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gimap/monitoring-imap_failed/monitoring-imap_failed.log : 66 info found </font><br />
<font color='red'> KO -  /data/var/log/gimap/monitoring-imap_import/monitoring-imap_import.log : 99 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gimap/monitoring-imap_import/monitoring-imap_import.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gimap/monitoring-imap_import/monitoring-imap_import.log : 66 info found </font><br />
<font color='red'> KO -  /data/var/log/gimap/monitoring-imap_inbox/monitoring-imap_inbox.log : 99 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gimap/monitoring-imap_inbox/monitoring-imap_inbox.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gimap/monitoring-imap_inbox/monitoring-imap_inbox.log : 66 info found </font><br />
<font color='red'> KO -  /data/var/log/gimap/monitoring-imap_junk/monitoring-imap_junk.log : 99 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gimap/monitoring-imap_junk/monitoring-imap_junk.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gimap/monitoring-imap_junk/monitoring-imap_junk.log : 66 info found </font><br />
<font color='red'> KO -  /data/var/log/batch-indexer-document-worker/batch-indexer-document-worker.log : 3037 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/batch-indexer-document-worker/batch-indexer-document-worker.log : 3003 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/batch-indexer-document-worker/batch-indexer-document-worker.log : 22 info found </font><br />
<font color='red'> KO -  /data/var/log/batch-indexer-lot-worker/batch-indexer-lot-worker.log : 1011 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/batch-indexer-lot-worker/batch-indexer-lot-worker.log : 1011 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/batch-indexer-lot-worker/batch-indexer-lot-worker.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/rabbitmq/shutdown_log : 2 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/rabbitmq/shutdown_log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/rabbitmq/shutdown_log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/rabbitmq/startup_err : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/rabbitmq/rabbit@worker-recfonc-sasl.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/rabbitmq/rabbit@worker-recfonc-sasl.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/rabbitmq/rabbit@worker-recfonc-sasl.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/rabbitmq/rabbit@worker-recfonc.log : 2276949 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/rabbitmq/rabbit@worker-recfonc.log : 325209 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/rabbitmq/rabbit@worker-recfonc.log : 325371 info found </font><br />
<font color='red'> KO -  /data/var/log/rabbitmq/rabbit@worker-recfonc.log : 2276963  lines found : expected less than 300000 </font><br />
<font color='red'> KO -  /data/var/log/rabbitmq/startup_log : 73 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/rabbitmq/startup_log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/rabbitmq/startup_log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/rabbitmq/shutdown_err : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/jmxtrans/jmxtrans.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/jmxtrans/jmxtrans.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/jmxtrans/jmxtrans.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/batch-purge-springbatch/batch-purge-springbatch.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/batch-purge-springbatch/batch-purge-springbatch.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/batch-purge-springbatch/batch-purge-springbatch.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/newrelic/php_agent.log : 44920455 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/newrelic/php_agent.log : 330 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/newrelic/php_agent.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/newrelic/php_agent.log : 44920455  lines found : expected less than 300000 </font><br />
<font color='red'> KO -  /data/var/log/newrelic/newrelic-daemon.log : 245 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/newrelic/newrelic-daemon.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/newrelic/newrelic-daemon.log : 77 info found </font><br />
<font color='red'> KO -  /data/var/log/logstash/agent/logstash.log : 117882 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/logstash/agent/logstash.log : 39477 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/logstash/agent/logstash.log : 39424 info found </font><br />
<font color='green'> OK -  /data/var/log/collectd/collectd.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/collectd/collectd.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/collectd/collectd.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/batch-indexer-document/batch-indexer-document.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/batch-indexer-document/batch-indexer-document.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/batch-indexer-document/batch-indexer-document.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/tomcat-digiposte-java-demo/catalina.out : 16 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/tomcat-digiposte-java-demo/catalina.out : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/tomcat-digiposte-java-demo/catalina.out : 8 info found </font><br />
<font color='red'> KO -  /data/var/log/batch-mail-worker/batch-mail-worker.log : 1010 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/batch-mail-worker/batch-mail-worker.log : 1010 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/batch-mail-worker/batch-mail-worker.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/batch-routage-worker/batch-routage-worker.log : 2067 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/batch-routage-worker/batch-routage-worker.log : 1016 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/batch-routage-worker/batch-routage-worker.log : 50 info found </font><br />
<font color='red'> KO -  /data/var/log/batch-indexer-full/batch-indexer-full.log : 9954 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/batch-indexer-full/batch-indexer-full.log : 1215 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/batch-indexer-full/batch-indexer-full.log : 8739 info found </font><br />
<font color='green'> OK -  /data/var/log/batch-indexer-delta/batch-indexer-delta.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/batch-indexer-delta/batch-indexer-delta.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/batch-indexer-delta/batch-indexer-delta.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/symfony/individual.log : 8 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/symfony/individual.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/symfony/individual.log : 8 info found </font><br />
<font color='red'> KO -  /data/var/log/symfony/fpm-php.log : 1703 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/symfony/fpm-php.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/symfony/fpm-php.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/symfony/sender.log : 8 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/symfony/sender.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/symfony/sender.log : 8 info found </font><br />
<font color='red'> KO -  /data/var/log/symfony/api.log : 2018444 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/symfony/api.log : 157 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/symfony/api.log : 104291 info found </font><br />
<font color='red'> KO -  /data/var/log/symfony/api.log : 2018444  lines found : expected less than 300000 </font><br />
<font color='red'> KO -  /data/var/log/symfony/backend.log : 99524 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/symfony/backend.log : 5 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/symfony/backend.log : 90500 info found </font><br />
<font color='red'> KO -  /data/var/log/symfony/wsproxy.log : 8 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/symfony/wsproxy.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/symfony/wsproxy.log : 8 info found </font><br />
<font color='red'> KO -  /data/var/log/symfony/php_errors.log : 6549 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/tomcat-digiposte-java-backoffice-api/digiposte-java-backoffice-api.log : 818 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/tomcat-digiposte-java-backoffice-api/digiposte-java-backoffice-api.log : 4 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/tomcat-digiposte-java-backoffice-api/digiposte-java-backoffice-api.log : 33 info found </font><br />
<font color='green'> OK -  /data/var/log/tomcat-digiposte-java-backoffice-api/catalina.out : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/tomcat-digiposte-java-backoffice-api/catalina.out : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/tomcat-digiposte-java-backoffice-api/catalina.out : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/gftp/monitoring-ftp_maileva/monitoring-ftp_maileva.log : 19032 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gftp/monitoring-ftp_maileva/monitoring-ftp_maileva.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gftp/monitoring-ftp_maileva/monitoring-ftp_maileva.log : 14226 info found </font><br />
<font color='green'> OK -  /data/var/log/tomcat-digiposte-java-backoffice-batch/catalina.out : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/tomcat-digiposte-java-backoffice-batch/catalina.out : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/tomcat-digiposte-java-backoffice-batch/catalina.out : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/tomcat-digiposte-java-backoffice-batch/digiposte-java-backoffice-batch.log : 823 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/tomcat-digiposte-java-backoffice-batch/digiposte-java-backoffice-batch.log : 1 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/tomcat-digiposte-java-backoffice-batch/digiposte-java-backoffice-batch.log : 41 info found </font><br />
