<font color='green'> OK -  /var/log/news/news.crit : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.crit : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.crit : 0 info found </font><br />
<font color='green'> OK -  /var/log/news/news.err : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.notice : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.notice : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.notice : 0 info found </font><br />
<font color='green'> OK -  /var/log/mysql.err : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/dmesg : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dmesg : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/dmesg : 2 info found </font><br />
<font color='green'> OK -  /var/log/lastlog : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/lastlog : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/lastlog : 0 info found </font><br />
<font color='green'> OK -  /var/log/alternatives.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/alternatives.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/alternatives.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/fontconfig.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fontconfig.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fontconfig.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/mail.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/mail.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/mail.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/btmp : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/btmp : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/btmp : 0 info found </font><br />
<font color='green'> OK -  /var/log/fsck/checkfs : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkfs : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkfs : 0 info found </font><br />
<font color='green'> OK -  /var/log/fsck/checkroot : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkroot : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkroot : 0 info found </font><br />
<font color='green'> OK -  /var/log/mail.err : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/ufw.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/ufw.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/ufw.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/kern.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/kern.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/kern.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/landscape/sysinfo.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/landscape/sysinfo.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/landscape/sysinfo.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/udev : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/udev : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/udev : 0 info found </font><br />
<font color='green'> OK -  /var/log/faillog : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/faillog : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/faillog : 0 info found </font><br />
<font color='green'> OK -  /var/log/apt/history.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/history.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/history.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/apt/term.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/term.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/term.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/boot : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot : 0 info found </font><br />
<font color='red'> KO -  /var/log/auth.log : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/auth.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/auth.log : 0 info found </font><br />
<font color='red'> KO -  /var/log/dmesg.0 : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dmesg.0 : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/dmesg.0 : 2 info found </font><br />
<font color='green'> OK -  /var/log/installer/hardware-summary : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/hardware-summary : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/hardware-summary : 82 info found </font><br />
<font color='green'> OK -  /var/log/installer/lsb-release : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/lsb-release : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/lsb-release : 0 info found </font><br />
<font color='red'> KO -  /var/log/installer/status : 4 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/status : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/status : 6 info found </font><br />
<font color='green'> OK -  /var/log/installer/partman : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/partman : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/partman : 390 info found </font><br />
<font color='red'> KO -  /var/log/installer/cdebconf/questions.dat : 60 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/installer/cdebconf/questions.dat : 20 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/cdebconf/questions.dat : 61 info found </font><br />
<font color='red'> KO -  /var/log/installer/cdebconf/templates.dat : 552 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/installer/cdebconf/templates.dat : 135 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/cdebconf/templates.dat : 750 info found </font><br />
<font color='red'> KO -  /var/log/installer/syslog : 10 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/installer/syslog : 105 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/syslog : 126 info found </font><br />
<font color='green'> OK -  /var/log/installer/media-info : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/media-info : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/media-info : 0 info found </font><br />
<font color='green'> OK -  /var/log/boot.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/syslog : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/syslog : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/syslog : 11 info found </font><br />
<font color='green'> OK -  /var/log/mysql.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/mysql.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/mysql.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/dpkg.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dpkg.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dpkg.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/wtmp : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/wtmp : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/wtmp : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_valid_temporary/monitoring-accounts_valid_temporary.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_valid_temporary/monitoring-accounts_valid_temporary.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_valid_temporary/monitoring-accounts_valid_temporary.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_active/monitoring-accounts_active.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_active/monitoring-accounts_active.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_active/monitoring-accounts_active.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_closed/monitoring-accounts_closed.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_closed/monitoring-accounts_closed.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_closed/monitoring-accounts_closed.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-mysql_info_tables/monitoring-mysql_info_tables.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-mysql_info_tables/monitoring-mysql_info_tables.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-mysql_info_tables/monitoring-mysql_info_tables.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-membership_lbp_status_2/monitoring-membership_lbp_status_2.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-membership_lbp_status_2/monitoring-membership_lbp_status_2.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-membership_lbp_status_2/monitoring-membership_lbp_status_2.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-documents_dispath_ko/monitoring-documents_dispath_ko.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-documents_dispath_ko/monitoring-documents_dispath_ko.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/monitoring-documents_dispath_ko/monitoring-documents_dispath_ko.log : 17130 info found </font><br />
<font color='red'> KO -  /data/var/log/gquery/gquery-documents_dispath_ko/gquery-documents_dispath_ko.log : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/gquery-documents_dispath_ko/gquery-documents_dispath_ko.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/gquery-documents_dispath_ko/gquery-documents_dispath_ko.log : 81 info found </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_closing/monitoring-accounts_closing.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_closing/monitoring-accounts_closing.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_closing/monitoring-accounts_closing.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-documents_dispatch_ok/monitoring-documents_dispatch_ok.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-documents_dispatch_ok/monitoring-documents_dispatch_ok.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/monitoring-documents_dispatch_ok/monitoring-documents_dispatch_ok.log : 305 info found </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_created/monitoring-accounts_created.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_created/monitoring-accounts_created.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_created/monitoring-accounts_created.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_to_purge/monitoring-accounts_to_purge.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_to_purge/monitoring-accounts_to_purge.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_to_purge/monitoring-accounts_to_purge.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-membership_lbp_status_4/monitoring-membership_lbp_status_4.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-membership_lbp_status_4/monitoring-membership_lbp_status_4.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-membership_lbp_status_4/monitoring-membership_lbp_status_4.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_with_new_auth/monitoring-accounts_with_new_auth.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_with_new_auth/monitoring-accounts_with_new_auth.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_with_new_auth/monitoring-accounts_with_new_auth.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-documents_dispatch_ko/monitoring-documents_dispatch_ko.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-documents_dispatch_ko/monitoring-documents_dispatch_ko.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/monitoring-documents_dispatch_ko/monitoring-documents_dispatch_ko.log : 305 info found </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-membership_lbp_status_6/monitoring-membership_lbp_status_6.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-membership_lbp_status_6/monitoring-membership_lbp_status_6.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-membership_lbp_status_6/monitoring-membership_lbp_status_6.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/gquery/gquery-membership_lbp_status_3_notif0/gquery-membership_lbp_status_3_notif0.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/gquery-membership_lbp_status_3_notif0/gquery-membership_lbp_status_3_notif0.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/gquery-membership_lbp_status_3_notif0/gquery-membership_lbp_status_3_notif0.log : 15 info found </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-documents_dispath_ok/monitoring-documents_dispath_ok.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-documents_dispath_ok/monitoring-documents_dispath_ok.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/monitoring-documents_dispath_ok/monitoring-documents_dispath_ok.log : 17130 info found </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-membership_lbp_status_3/monitoring-membership_lbp_status_3.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-membership_lbp_status_3/monitoring-membership_lbp_status_3.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-membership_lbp_status_3/monitoring-membership_lbp_status_3.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_contribution_lapostenet/monitoring-accounts_contribution_lapostenet.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_contribution_lapostenet/monitoring-accounts_contribution_lapostenet.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-accounts_contribution_lapostenet/monitoring-accounts_contribution_lapostenet.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-documents_by_sender/monitoring-documents_by_sender.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-documents_by_sender/monitoring-documents_by_sender.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-documents_by_sender/monitoring-documents_by_sender.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-documents_by_user/monitoring-documents_by_user.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-documents_by_user/monitoring-documents_by_user.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-documents_by_user/monitoring-documents_by_user.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-documents_by_size/monitoring-documents_by_size.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-documents_by_size/monitoring-documents_by_size.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-documents_by_size/monitoring-documents_by_size.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/gquery/gquery-documents_dispath_ok/gquery-documents_dispath_ok.log : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/gquery-documents_dispath_ok/gquery-documents_dispath_ok.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/gquery-documents_dispath_ok/gquery-documents_dispath_ok.log : 81 info found </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-membership_lbp_status_3_notif0/monitoring-membership_lbp_status_3_notif0.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-membership_lbp_status_3_notif0/monitoring-membership_lbp_status_3_notif0.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gquery/monitoring-membership_lbp_status_3_notif0/monitoring-membership_lbp_status_3_notif0.log : 50 info found </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-membership_lbp_status_7/monitoring-membership_lbp_status_7.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-membership_lbp_status_7/monitoring-membership_lbp_status_7.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-membership_lbp_status_7/monitoring-membership_lbp_status_7.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-membership_lbp_status_5/monitoring-membership_lbp_status_5.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-membership_lbp_status_5/monitoring-membership_lbp_status_5.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gquery/monitoring-membership_lbp_status_5/monitoring-membership_lbp_status_5.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/collectd/collectd.log : 10976 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/collectd/collectd.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/collectd/collectd.log : 10976 info found </font><br />
<font color='green'> OK -  /data/var/log/elasticsearch/elasticsearch_index_search_slowlog.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/elasticsearch/elasticsearch_index_search_slowlog.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/elasticsearch/elasticsearch_index_search_slowlog.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/elasticsearch/elasticsearch.log : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/elasticsearch/elasticsearch.log : 1 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/elasticsearch/elasticsearch.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/mongo/mongod.log : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/mongo/mongod.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/mongo/mongod.log : 220 info found </font><br />
<font color='green'> OK -  /data/var/log/tomcat-solr/solr.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/tomcat-solr/solr.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/tomcat-solr/solr.log : 650392 info found </font><br />
<font color='red'> KO -  /data/var/log/tomcat-solr/solr.log : 1687829  lines found : expected less than 300000 </font><br />
<font color='green'> OK -  /data/var/log/tomcat-solr/catalina.out : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/tomcat-solr/catalina.out : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/tomcat-solr/catalina.out : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/mysql/mysql-slow.log : 126 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/mysql/mysql-slow.log : 1084 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/mysql/mysql-slow.log : 3010 info found </font><br />
<font color='red'> KO -  /data/var/log/mysql/mysql.error.log : 17585 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/jmxtrans/jmxtrans.log : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/jmxtrans/jmxtrans.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/jmxtrans/jmxtrans.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/gsolr/monitoring-solr/gsolr-solr.log : 5776 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/gsolr/monitoring-solr/gsolr-solr.log : 30 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gsolr/monitoring-solr/gsolr-solr.log : 15117 info found </font><br />
<font color='red'> KO -  /data/var/log/logstash/agent/logstash.log : 2 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/logstash/agent/logstash.log : 76 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/logstash/agent/logstash.log : 396794 info found </font><br />
<font color='red'> KO -  /data/var/log/logstash/agent/logstash.log : 397379  lines found : expected less than 300000 </font><br />
