<font color='green'> OK -  /var/log/news/news.crit : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.crit : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.crit : 0 info found </font><br />
<font color='green'> OK -  /var/log/news/news.err : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.notice : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.notice : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.notice : 0 info found </font><br />
<font color='red'> KO -  /var/log/apache2/error.log : 1 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/other_vhosts_access.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/other_vhosts_access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/other_vhosts_access.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/apache2/admin-error.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/access.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/access.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/apache2/admin-access.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/admin-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/admin-access.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/dmesg : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dmesg : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/dmesg : 2 info found </font><br />
<font color='green'> OK -  /var/log/lastlog : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/lastlog : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/lastlog : 0 info found </font><br />
<font color='green'> OK -  /var/log/alternatives.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/alternatives.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/alternatives.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/fontconfig.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fontconfig.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fontconfig.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/mail.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/mail.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/mail.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/btmp : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/btmp : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/btmp : 0 info found </font><br />
<font color='green'> OK -  /var/log/fsck/checkfs : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkfs : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkfs : 0 info found </font><br />
<font color='green'> OK -  /var/log/fsck/checkroot : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkroot : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkroot : 0 info found </font><br />
<font color='green'> OK -  /var/log/mail.err : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/logster/logster.log : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/logster/logster.log : 88789 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/logster/logster.log : 147095 info found </font><br />
<font color='green'> OK -  /var/log/ufw.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/ufw.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/ufw.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/kern.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/kern.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/kern.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/landscape/sysinfo.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/landscape/sysinfo.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/landscape/sysinfo.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/udev : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/udev : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/udev : 0 info found </font><br />
<font color='green'> OK -  /var/log/faillog : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/faillog : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/faillog : 0 info found </font><br />
<font color='green'> OK -  /var/log/apt/history.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/history.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/history.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/apt/term.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/term.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/term.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/boot : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot : 0 info found </font><br />
<font color='green'> OK -  /var/log/auth.log : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/auth.log : 20 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/auth.log : 36 info found </font><br />
<font color='green'> OK -  /var/log/dmesg.0 : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dmesg.0 : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/dmesg.0 : 2 info found </font><br />
<font color='green'> OK -  /var/log/installer/hardware-summary : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/hardware-summary : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/hardware-summary : 82 info found </font><br />
<font color='green'> OK -  /var/log/installer/lsb-release : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/lsb-release : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/lsb-release : 0 info found </font><br />
<font color='green'> OK -  /var/log/installer/status : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/status : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/status : 6 info found </font><br />
<font color='green'> OK -  /var/log/installer/partman : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/partman : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/partman : 390 info found </font><br />
<font color='red'> KO -  /var/log/installer/cdebconf/questions.dat : 2 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/installer/cdebconf/questions.dat : 20 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/cdebconf/questions.dat : 61 info found </font><br />
<font color='red'> KO -  /var/log/installer/cdebconf/templates.dat : 111 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/installer/cdebconf/templates.dat : 135 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/cdebconf/templates.dat : 750 info found </font><br />
<font color='green'> OK -  /var/log/installer/syslog : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/installer/syslog : 105 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/syslog : 126 info found </font><br />
<font color='green'> OK -  /var/log/installer/media-info : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/media-info : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/media-info : 0 info found </font><br />
<font color='green'> OK -  /var/log/boot.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/syslog : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/syslog : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/syslog : 0 info found </font><br />
<font color='green'> OK -  /var/log/dpkg.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dpkg.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dpkg.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/wtmp : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/wtmp : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/wtmp : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/apache2/admin-error.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/ws-error.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/admin-graphite-error.log : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/apache2/emetteur-error.log : 537 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/secure-error.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/api-access.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/api-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/api-access.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/apache2/ws-access.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/ws-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/ws-access.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/apache2/admin-access.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/admin-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/admin-access.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/apache2/emetteur-access.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/emetteur-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/emetteur-access.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/apache2/admin-graphite-access.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/admin-graphite-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/admin-graphite-access.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/apache2/adherer-access.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/adherer-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/adherer-access.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/apache2/adherer-error.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/secure-access.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/secure-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/secure-access.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/apache2/api-error.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/logstash/agent/logstash.log : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/logstash/agent/logstash.log : 9 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/logstash/agent/logstash.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/collectd/collectd.log : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/collectd/collectd.log : 1 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/collectd/collectd.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/jmxtrans/jmxtrans.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/jmxtrans/jmxtrans.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/jmxtrans/jmxtrans.log : 0 info found </font><br />
