<font color='green'> OK -  /var/log/news/news.crit : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.crit : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.crit : 0 info found </font><br />
<font color='green'> OK -  /var/log/news/news.err : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.notice : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.notice : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/news/news.notice : 0 info found </font><br />
<font color='red'> KO -  /var/log/apache2/error.log : 7 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/other_vhosts_access.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/other_vhosts_access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/other_vhosts_access.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/apache2/access.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/access.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/apache2/jk-runtime-status.8582.lock : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/jk-runtime-status.8582.lock : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/jk-runtime-status.8582.lock : 0 info found </font><br />
<font color='green'> OK -  /var/log/apache2/jk-runtime-status.8582 : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/jk-runtime-status.8582 : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/jk-runtime-status.8582 : 0 info found </font><br />
<font color='green'> OK -  /var/log/apache2/mod_jk.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apache2/mod_jk.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/apache2/mod_jk.log : 4 info found </font><br />
<font color='green'> OK -  /var/log/dmesg : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dmesg : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/dmesg : 2 info found </font><br />
<font color='green'> OK -  /var/log/lastlog : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/lastlog : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/lastlog : 0 info found </font><br />
<font color='green'> OK -  /var/log/alternatives.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/alternatives.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/alternatives.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/fontconfig.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fontconfig.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fontconfig.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/mail.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/mail.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/mail.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/btmp : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/btmp : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/btmp : 0 info found </font><br />
<font color='green'> OK -  /var/log/fsck/checkfs : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkfs : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkfs : 0 info found </font><br />
<font color='green'> OK -  /var/log/fsck/checkroot : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkroot : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/fsck/checkroot : 0 info found </font><br />
<font color='green'> OK -  /var/log/statsd-stderr.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/newrelic/nrsysmond.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/newrelic/nrsysmond.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/newrelic/nrsysmond.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/newrelic/newrelic-daemon.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/newrelic/newrelic-daemon.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/newrelic/newrelic-daemon.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/newrelic/php_agent.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/newrelic/php_agent.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/newrelic/php_agent.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/mail.err : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/php5-fpm.log : 6 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/php5-fpm.log : 4806 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/php5-fpm.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/ufw.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/ufw.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/ufw.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/kern.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/kern.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/kern.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/landscape/sysinfo.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/landscape/sysinfo.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/landscape/sysinfo.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/udev : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/udev : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/udev : 0 info found </font><br />
<font color='green'> OK -  /var/log/faillog : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/faillog : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/faillog : 0 info found </font><br />
<font color='green'> OK -  /var/log/apt/history.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/history.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/history.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/apt/term.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/term.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apt/term.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/boot : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot : 0 info found </font><br />
<font color='green'> OK -  /var/log/auth.log : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/auth.log : 12 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/auth.log : 20 info found </font><br />
<font color='green'> OK -  /var/log/apport.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apport.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/apport.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/dmesg.0 : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dmesg.0 : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/dmesg.0 : 2 info found </font><br />
<font color='green'> OK -  /var/log/installer/hardware-summary : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/hardware-summary : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/hardware-summary : 82 info found </font><br />
<font color='green'> OK -  /var/log/installer/lsb-release : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/lsb-release : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/lsb-release : 0 info found </font><br />
<font color='green'> OK -  /var/log/installer/status : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/status : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/status : 6 info found </font><br />
<font color='green'> OK -  /var/log/installer/partman : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/partman : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/partman : 390 info found </font><br />
<font color='red'> KO -  /var/log/installer/cdebconf/questions.dat : 2 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/installer/cdebconf/questions.dat : 20 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/cdebconf/questions.dat : 61 info found </font><br />
<font color='red'> KO -  /var/log/installer/cdebconf/templates.dat : 111 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/installer/cdebconf/templates.dat : 135 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/cdebconf/templates.dat : 750 info found </font><br />
<font color='green'> OK -  /var/log/installer/syslog : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /var/log/installer/syslog : 105 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/installer/syslog : 126 info found </font><br />
<font color='green'> OK -  /var/log/installer/media-info : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/media-info : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/installer/media-info : 0 info found </font><br />
<font color='green'> OK -  /var/log/boot.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/boot.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/syslog : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/syslog : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /var/log/syslog : 37 info found </font><br />
<font color='green'> OK -  /var/log/dpkg.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dpkg.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/dpkg.log : 0 info found </font><br />
<font color='green'> OK -  /var/log/wtmp : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/wtmp : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /var/log/wtmp : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/apache2/api-php-error.log : 642 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/apache2/graphite-access.log : 47 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/apache2/graphite-access.log : 12 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/apache2/graphite-access.log : 83 info found </font><br />
<font color='red'> KO -  /data/var/log/apache2/api-php-access.log : 312 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/api-php-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/api-php-access.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/apache2/admin-error.log : 35397 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/apache2/admin-access.log : 841 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/admin-access.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/apache2/admin-access.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/apache2/graphite-error.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/batch-mobile-worker/batch-mobile-worker.log : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/batch-mobile-worker/batch-mobile-worker.log : 1 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/batch-mobile-worker/batch-mobile-worker.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/gimap/monitoring-imap_mail2digiposte_failed/monitoring-imap_mail2digiposte_failed.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gimap/monitoring-imap_mail2digiposte_failed/monitoring-imap_mail2digiposte_failed.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gimap/monitoring-imap_mail2digiposte_failed/monitoring-imap_mail2digiposte_failed.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/gimap/monitoring-imap_spam/monitoring-imap_spam.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gimap/monitoring-imap_spam/monitoring-imap_spam.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gimap/monitoring-imap_spam/monitoring-imap_spam.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/gimap/monitoring-imap_mail2digiposte/monitoring-imap_mail2digiposte.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gimap/monitoring-imap_mail2digiposte/monitoring-imap_mail2digiposte.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gimap/monitoring-imap_mail2digiposte/monitoring-imap_mail2digiposte.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/gimap/monitoring-imap_failed/monitoring-imap_failed.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gimap/monitoring-imap_failed/monitoring-imap_failed.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gimap/monitoring-imap_failed/monitoring-imap_failed.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/gimap/monitoring-imap_import/monitoring-imap_import.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gimap/monitoring-imap_import/monitoring-imap_import.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gimap/monitoring-imap_import/monitoring-imap_import.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/gimap/monitoring-imap_inbox/monitoring-imap_inbox.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gimap/monitoring-imap_inbox/monitoring-imap_inbox.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gimap/monitoring-imap_inbox/monitoring-imap_inbox.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/gimap/monitoring-imap_junk/monitoring-imap_junk.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gimap/monitoring-imap_junk/monitoring-imap_junk.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gimap/monitoring-imap_junk/monitoring-imap_junk.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/batch-indexer-document-worker/batch-indexer-document-worker.log : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/batch-indexer-document-worker/batch-indexer-document-worker.log : 3834 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/batch-indexer-document-worker/batch-indexer-document-worker.log : 474 info found </font><br />
<font color='green'> OK -  /data/var/log/batch-indexer-lot-worker/batch-indexer-lot-worker.log : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/batch-indexer-lot-worker/batch-indexer-lot-worker.log : 1280 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/batch-indexer-lot-worker/batch-indexer-lot-worker.log : 62 info found </font><br />
<font color='green'> OK -  /data/var/log/rabbitmq/shutdown_log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/rabbitmq/shutdown_log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/rabbitmq/shutdown_log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/rabbitmq/startup_err : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/rabbitmq/rabbit@worker-recfonc-sasl.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/rabbitmq/rabbit@worker-recfonc-sasl.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/rabbitmq/rabbit@worker-recfonc-sasl.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/rabbitmq/rabbit@worker-recfonc.log : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/rabbitmq/rabbit@worker-recfonc.log : 41881 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/rabbitmq/rabbit@worker-recfonc.log : 42061 info found </font><br />
<font color='green'> OK -  /data/var/log/rabbitmq/startup_log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/rabbitmq/startup_log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/rabbitmq/startup_log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/rabbitmq/shutdown_err : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/jmxtrans/jmxtrans.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/jmxtrans/jmxtrans.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/jmxtrans/jmxtrans.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/batch-purge-springbatch/batch-purge-springbatch.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/batch-purge-springbatch/batch-purge-springbatch.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/batch-purge-springbatch/batch-purge-springbatch.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/newrelic/php_agent.log : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/newrelic/php_agent.log : 330 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/newrelic/php_agent.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/newrelic/php_agent.log : 58990226  lines found : expected less than 300000 </font><br />
<font color='green'> OK -  /data/var/log/newrelic/newrelic-daemon.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/newrelic/newrelic-daemon.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/newrelic/newrelic-daemon.log : 77 info found </font><br />
<font color='red'> KO -  /data/var/log/logstash/agent/logstash.log : 368 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/logstash/agent/logstash.log : 42036 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/logstash/agent/logstash.log : 42210 info found </font><br />
<font color='green'> OK -  /data/var/log/collectd/collectd.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/collectd/collectd.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/collectd/collectd.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/batch-indexer-document/batch-indexer-document.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/batch-indexer-document/batch-indexer-document.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/batch-indexer-document/batch-indexer-document.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/tomcat-digiposte-java-demo/catalina.out : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/tomcat-digiposte-java-demo/catalina.out : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/tomcat-digiposte-java-demo/catalina.out : 8 info found </font><br />
<font color='green'> OK -  /data/var/log/batch-mail-worker/batch-mail-worker.log : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/batch-mail-worker/batch-mail-worker.log : 2 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/batch-mail-worker/batch-mail-worker.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/batch-routage-worker/batch-routage-worker.log : 68 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/batch-routage-worker/batch-routage-worker.log : 1507 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/batch-routage-worker/batch-routage-worker.log : 853 info found </font><br />
<font color='green'> OK -  /data/var/log/batch-indexer-full/batch-indexer-full.log : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/batch-indexer-full/batch-indexer-full.log : 1215 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/batch-indexer-full/batch-indexer-full.log : 8739 info found </font><br />
<font color='green'> OK -  /data/var/log/batch-indexer-delta/batch-indexer-delta.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/batch-indexer-delta/batch-indexer-delta.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/batch-indexer-delta/batch-indexer-delta.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/symfony/individual.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/symfony/individual.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/symfony/individual.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/symfony/fpm-php.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/symfony/fpm-php.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/symfony/fpm-php.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/symfony/sender.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/symfony/sender.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/symfony/sender.log : 0 info found </font><br />
<font color='red'> KO -  /data/var/log/symfony/api.log : 116 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/symfony/api.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/symfony/api.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/symfony/backend.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/symfony/backend.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/symfony/backend.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/symfony/wsproxy.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/symfony/wsproxy.log : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/symfony/wsproxy.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/symfony/php_errors.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/tomcat-digiposte-java-backoffice-api/digiposte-java-backoffice-api.log : 0 errors found - Expected 0 </font><br />
<font color='red'> KO -  /data/var/log/tomcat-digiposte-java-backoffice-api/digiposte-java-backoffice-api.log : 88 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/tomcat-digiposte-java-backoffice-api/digiposte-java-backoffice-api.log : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/tomcat-digiposte-java-backoffice-api/catalina.out : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/tomcat-digiposte-java-backoffice-api/catalina.out : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/tomcat-digiposte-java-backoffice-api/catalina.out : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/gftp/monitoring-ftp_maileva/monitoring-ftp_maileva.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/gftp/monitoring-ftp_maileva/monitoring-ftp_maileva.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/gftp/monitoring-ftp_maileva/monitoring-ftp_maileva.log : 726 info found </font><br />
<font color='green'> OK -  /data/var/log/tomcat-digiposte-java-backoffice-batch/catalina.out : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/tomcat-digiposte-java-backoffice-batch/catalina.out : 0 warn-notice found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/tomcat-digiposte-java-backoffice-batch/catalina.out : 0 info found </font><br />
<font color='green'> OK -  /data/var/log/tomcat-digiposte-java-backoffice-batch/digiposte-java-backoffice-batch.log : 0 errors found - Expected 0 </font><br />
<font color='green'> OK -  /data/var/log/tomcat-digiposte-java-backoffice-batch/digiposte-java-backoffice-batch.log : 0 warn-notice found - Expected 0 </font><br />
<font color='orange'> KO -  /data/var/log/tomcat-digiposte-java-backoffice-batch/digiposte-java-backoffice-batch.log : 81 info found </font><br />
